:root {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  min-height: 100vh;
}

button,
textarea,
input {
  font-family: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.usersList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style-type: none;
  margin-top: 2rem;
}

.usersList li {
  border: 1px solid #cce;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 0.8rem;
}

.btn {
  padding: 1.2rem 2rem;
  border: 0;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 0.4rem;
  background: white;
  border: 1px solid #cce;
  color: #6c6ca0;
}

.btn.cancel {
  background: rgb(255, 241, 241);
  border-color: rgb(238, 204, 204);
  color: #a06c6c;
}

.btn.cancel:hover {
  background: rgb(255, 226, 226);
  border-color: #f09191;
  color: #d46060;
}

.btn:hover {
  background: rgb(244, 244, 255);
  border-color: #9191f0;
  color: #6060d4;
}

.header {
  padding: 2rem 4rem;
  border-bottom: 1px solid #cce;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* new user modal */
.new-user-modal {
  visibility: hidden;
  display: none;
}

.new-user-modal.visible {
  position: fixed;
  background: white;
  padding: 1.4rem;
  border: 1px solid #cce;
  border-radius: 0.8rem;
  box-shadow: 0 1rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
  max-width: 53rem;
  width: 100%;
  z-index: 100;
  display: block;
  visibility: visible;
}

.new-user-modal form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.new-user-modal .input-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-user-modal .buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.new-user-modal .buttons button,
.new-user-modal .buttons input {
  width: 100%;
}

.new-user-modal h2 {
  margin-bottom: 1.2rem;
  color: #6c6ca0;
}

.new-user-modal .input-block input,
.new-user-modal .input-block textarea {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1.2rem;
  border: 0;
  border: 1px solid #cce;
  border-radius: 0.7rem;
  background: white;
  margin-top: 0.4rem;
  outline: none;
}

.new-user-modal .input-block input[type='number']::-webkit-outer-spin-button,
.new-user-modal .input-block input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-user-modal .input-block input[type='number'] {
  -moz-appearance: textfield;
}

.new-user-modal .input-block textarea {
  resize: vertical;
}

.new-user-modal .input-block label {
  color: #6c6ca0;
  font-size: 1.2rem;
}

.new-user-modal .input-block:focus-within input {
  border-color: rgb(145, 145, 240);
}
